<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="static/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Сириус</title>
    
    <style>
        body {
            padding-top: 5rem;
        }
    </style>
  </head>
  <body>
    <main role="main" class="container">
        <div class="starter">
            <h1>Привет, Сириус!</h1>
            <p class="lead">Это – шаблон для проектной работы.</p>
            <p class="lead" id="starter-url"></p>
        </div>
        <!--
        TODO(3): Напишите реализацию счетчика!
        <div class="counter">
            <p id="counter-value" class="lead"></p>
            <button id="counter-button" type="button" class="btn btn-primary">Клац!</button>
        </div>
        -->
    </main>

    <script src="static/js/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="static/js//popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="static/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script>
        // TODO(1): Упражнение на JavaScript.
        // Напишите функцию, которая будет генерировать простое, читаемое,
        // но уникальное имя пользователя. Для этого заведите массив названий животных,
        // и при генерации имени выбирайте случайное животное и дописывайте случайное число
        // от 1000 до 10000.
        var user = "neo";

        // Устанавливаем подключение к серверу.
        // NB! Стоит изменять адрес подключения, чтобы продвинуться по первому уроку.
        var url = "ws://" + document.domain + ":" + location.port + "/ws1";
        var ws = new WebSocket(url);
        messages = document.createElement("ul");
        document.getElementsByClassName("starter")[0].appendChild(messages);
        document.getElementById("starter-url").innerHTML = "Работаем с <small>" + url + "</small>.";

        // Функция-обработчик при получении нового сообщения.
        ws.onmessage = function (event) {
            console.log("Получили сообщение от сервера.");
            var messages = document.getElementsByTagName("ul")[0];
            var message = document.createElement("li");
            var content = document.createTextNode(event.data);
            message.appendChild(content);
            messages.appendChild(message);
            console.log(event.data);
        };

        // Функция-обработчик при установке соединения.
        ws.onopen = function() {
            console.log("Установили соединение с сервером.");
            ws.send(user);
        };

        console.log("Начали работу!");

        // TODO(3): Напишите реализацию счетчика!
        // $("#counter-button").click(function(event) {
        //     event.preventDefault();
        //     ws.send("Клац-клац!");
        //     $("#counter-value").text("Значение счетчика тайной покрыто.");
        // });
    </script>
  </body>
</html>